<!-- The list of messages will appear here: -->
<ul id='msg-list' class='row' style='list-style: none; min-height:200px; padding: 10px;'></ul>

<%= form_for @conn, Routes.lobby_path(@conn, :index), fn f -> %>
  <div class="form-group">
    <%= select f, :lobbies, @lobbies, class: "form-control" %>
    <%= error_tag f, :lobbies %>
  </div>
<% end %>
